*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Josefin Sans", sans-serif;
    background-color: hsl(235, 21%, 11%);
  
}

.img__wrapper {
    width: 100%;
    height: 300px;
    background-image: url('images/bg-desktop-dark.jpg');
    background-position: center;
    background-size: cover;
}



.todo__container {
    width: 100%;
    max-width: 540px;
    margin: -150px auto 0 auto;
}


.todo__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.todo__title {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 12px;
}

.todo__theme-toggle {
    width: 26px;
    height: 26px;
    background-image: url('images/icon-sun.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
    background-color: transparent;

}




.todo__input-wrapper {
    display: flex;
    align-items: center;
    background-color: hsl(235, 24%, 19%);
    border-radius: 5px;
    padding: 20px 24px;
    width: 100%;
    gap: 12px;
    

    margin-bottom: 30px;
}


.todo__input {
   background: transparent;
   border: none;
   outline: none;
   color: hsl(234, 39%, 85%);
   width: 100%;
   gap: 12px;
   font-family: "Josefin Sans", sans-serif;
}

.todo__input::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: hsl(233, 14%, 35%);
    font-family: "Josefin Sans", sans-serif;
}


.input__checkbox {
    width: 24px;
    height: 24px;
    border: 1px solid hsl(233, 14%, 35%);
    border-radius: 50%;
    flex-shrink: 0;
}




.todo__list {
    list-style: none;
}

.todo__list-wrapper {
    background-color: hsl(235, 24%, 19%);
    box-shadow: 0 35px 50px -15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-bottom: 50px;
}


.todo__item {
    display: flex;
    align-items: center;
    padding: 20px 24px;
    gap: 12px;
    border-bottom: 1px solid hsl(237, 14%, 26%);
    height: 64px;
}


.todo__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
}

.todo__count {
    font-size: 14px;
    font-weight: 400;
    color: hsl(235, 16%, 43%);
}


.todo__button {
    background: transparent;
    border: none;
    cursor: pointer;

    font-size: 14px;
    font-weight: 400;
    color: hsl(235, 16%, 43%);
    font-family: "Josefin Sans", sans-serif;
    transition: color 0.3s ease;
    
}

.todo__button--active {
    color: hsl(220, 98%, 61%);
    font-weight: 700;
}


.todo__clear {
    background: transparent;
    border: none;
    cursor: pointer;

    font-size: 14px;
    font-weight: 400;
    color: hsl(235, 16%, 43%);
    font-family: "Josefin Sans", sans-serif;
    transition: color 0.3s ease;
}

.todo__text {
    font-size: 17px;
    font-weight: 400;
    color: hsl(234, 39%, 85%);
}


.todo__checkbox-circle {
    width: 24px;
    height: 24px;
    border: 1px solid hsl(233, 14%, 35%);
    border-radius: 50%;
    flex-shrink: 0;
    cursor: pointer;
}

.todo__subtitle {
    font-size: 14px;
    font-weight: 400;
    color: hsl(235, 16%, 43%);
    text-align: center;
}


.todo__text--completed {
    text-decoration: line-through;
    color: hsl(235, 16%, 43%);
}


.todo__item--completed .todo__checkbox-circle {
    background-image: url('images/icon-check.svg'), linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%)); 
    background-repeat: no-repeat;
    background-position: center;
     
}

.todo__button:not(.todo__button--active):hover,
.todo__clear:hover {
    color: hsl(236, 33%, 92%);
}


